/*************************************/
/*专题特殊弹出框*/
/*************************************/
.x-disk-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.x-disk-container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10001;
}

.x-disk-box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.x-disk-title, .x-disk-cont,.x-disk-bto,
.x-disk-intro, .x-disk-btn {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.x-disk-btn a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
}

.x-disk-cont {
    height: 100%;
}

.x-disk-cont label {
    margin: 0;
    padding: 0;
}

.x-disk-background-top label,
.x-disk-background label {
    display: block;
    width: 100%;
    height: 100%;
}

.x-disk-background,
.x-disk-atmosphere,
.x-disk-background-top,
.x-disk-information {
    position: relative;
    display: block;
    width: 100%;
}

.x-disk-background-top {
    z-index: 28;
}

.x-disk-background {
    z-index: 30;
}

.x-disk-atmosphere {
    z-index: 40;
}

.x-disk-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
}

.x-disk-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: 0;
    content: "";
}

.x-disk-list{
    position: relative;
    display: block;
    padding: 15px;
}

/*************************************/
/*双11专题 首页氛围*/
/*************************************/
.disk-container-1111 {
    width: 286px;
    height: 220px;
    margin: -110px 0 0 -143px;
    background: url("../img/specialImg/ticket-bg.png") no-repeat;
    background-size: 100% 100%;
}

.disk-title-1111 {
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #fff600;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 99;
}

.disk-close-1111 {
    top: -36px;
    right: 0;
}

.disk-close-1111:after {
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    background: url("../img/specialImg/ticket-close.png") no-repeat;
    background-size: 100% 100%;
}

.disk-cont-1111 {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
}

.disk-cont-1111 label {
    display: block;
    width: 50px;
    position: absolute;
    bottom: 56px;
    left: 104px;
}

.disk-cont-1111 span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fbf7f8;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 23px;
    left: 0;
}

.disk-cont-1111 a {
    display: block;
    width: 100px;
    height: 40px;
    text-indent: -9999px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

/*************************************/
/*双12专题 首页氛围*/
/*************************************/
.disk-container-1212 {
    width: 319px;
    height: 419px;
    margin-top: -210px;
    margin-left: -160px;
    background: url("../img/specialImg/tackit-bg-1212.png") no-repeat;
    background-size: 100% 100%;
}

.disk-box-1212 {
    padding: 117px 38px 44px;
}

.disk-close-1212 {
    top: 79px;
    right: 8px;
}

.disk-close-1212:after {
    width: 36px;
    height: 37px;
    margin: -18px 0 0 -18px;
    background: url("../img/specialImg/close.png") no-repeat;
    background-size: 100% 100%;
}

.disk-cont-1212 {
    padding: 0 13px;
}

.disk-title-1212 {
    margin: 15px 0 15px 0;
}

.disk-intro-1212 {
    padding: 0 10px;
}

.disk-intro-1212 p {
    display: block;
    padding: 0;
    margin: 15px 0 0 0;
}

.disk-btn-1212 {
    padding: 0 16px;
    margin-top: 20px;
}

.disk-btn-1212 a {
    width: 167px;
    height: 30px;
    line-height: 28px;
    background: url("../img/specialImg/ticket-btn-bg.png") no-repeat;
    background-size: 100% 100%;
}

/*************************************/
/*新年专题 首页氛围*/
/*************************************/
.disk-container-newYear {
    width: 100%;
    top: 15%;
    left: 0;
}

.disk-box-newYear {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    padding: 50px 6% 0 6%;
}

.disk-cont-newYear p {
    margin: 0;
}

.disk-close-newYear{
    display: none
}

.disk-close-newYear:after {
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -13px;
    background: url("../img/specialImg/ticket-newYear5.png") no-repeat;
    background-size: 100% 100%;
}

.disk-intro-newYear {
    padding-top: 66%;
    z-index: 29;
    overflow: hidden;
}

.disk-information-newYear {
    opacity: 0;
    position: absolute;
    padding: 0 15%;
    z-index: 29;
    top: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 1000ms;
}

.disk-information-newYear.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.disk-btn-newYear {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    text-indent: -9999px;
}

.disk-btn-newYear a {
    height: 100%;
}

.disk-background-top-newYear {
    transform-origin: bottom;
    transform: rotateX(-180deg);
    transition: all 1000ms;
    top: 26%;
    z-index: 40;
}

.disk-background-top-newYear.active {
    transform: rotateX(0deg);
    top: 26%;
    z-index: 28;
}

.disk-atmosphere-newYear {
    display: none;
}

.disk-background-top-newYear label,
.disk-background-top-newYear label img
.disk-background-newYear label,
.disk-background-newYear label img{
    height: auto;
}

/*************************************/
/*动画*/
/*************************************/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes bounceDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%)
    }
    90% {
        -webkit-transform: translateY(-2%);
        transform: translateY(-2%)
    }
}

@keyframes bounceDown {
    0% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        -webkit-transform: translateY(-6%);
        -ms-transform: translateY(-6%);
        transform: translateY(-6%)
    }
    90% {
        -webkit-transform: translateY(-2%);
        -ms-transform: translateY(-2%);
        transform: translateY(-2%)
    }
}

.bounceDown {
    -webkit-animation-name: bounceDown;
    animation-name: bounceDown
}